Source: libmali
Priority: optional
Maintainer: Putin Lee <putin.li@rock-chips.com>
Uploaders: Jeffy Chen <jeffy.chen@rock-chips.com>
Build-Depends: debhelper (>= 11),
               meson,
               pkg-config,
               libstdc++6,
               libgbm-dev,
               libdrm-dev,
               libx11-xcb1,
               libxcb-dri2-0,
               libxdamage1,
               libxext6,
               libwayland-client0
Standards-Version: 4.1.3
Section: libs
Homepage: https://github.com/rockchip-linux/libmali
Vcs-Git: https://github.com/rockchip-linux/libmali
Vcs-Browser: https://github.com/rockchip-linux/libmali

Package: libmali-valhall-g610-g24p0-wayland-gbm
Architecture: arm64
Provides: libmali
Conflicts: libmali
Replaces: libmali
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Mali GPU User-Space Binary Drivers

Package: libmali-valhall-g610-g29p1-x11-wayland-gbm
Architecture: arm64
Provides: libmali
Conflicts: libmali
Replaces: libmali
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Mali GPU User-Space Binary Drivers
